* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    height: 140px;
    background-color: #FB6B6B;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

h4 {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #333333;
    font-weight: 700;
    margin: 15px
}

header img {
    width: 52px;
    height: 60px;
    margin: 42px 10px;
    border-radius: 50% 0 50% 0;    
}

header span {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #ffffff;
    margin: 42px 10px;

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

footer span {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    text-align: center;
}


.root {
    width: 100%;
    height: 100%;   
}

.initial {
    background-color: #FB6B6B; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;    
}

.initial img {
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
    border-radius: 50% 0 50% 0;  
}

.initial span {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #ffffff;
    margin: 9px;
}

.initial button {
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    font-style: unset  ;
    background-color: #ffffff;
    color: #D70900;
    width: 246px;
    height: 54px;
    margin: 30px 0;
    border: 1px solid #D70900;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.zap {
    box-sizing: content-box;
    background-color: #FB6B6B; 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    padding: 140px 0 90px 0;     
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    font-family: 'Recursive', sans-serif;
    background-color: #ffffff;
    border-radius: 5px;
    width: 82%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 12.5px;
}

.card ion-icon {
    font-size: 25px;
    color: #333333;
}

.card-front,
.card-back {
    font-family: 'Recursive', sans-serif;
    background-color: #FFFFD4;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    width: 82%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
}

.card-front ion-icon,
.card-back ion icon {
    color: #333333;
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 30px;    
    transform: rotate(90deg) rotateY(60deg) rotateX(180deg);
}

.card-front > div,
.card-back > div {
    display: flex;
    align-items: center;
    text-justify: center;
    justify-content: space-between;
}

.resposta {
    font-family: 'Recursive', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 86px;
    height: 38px;
    border-radius: 5px;
}

.card-finalizado {
    text-decoration: line-through;
}

.red {
    background-color: #FF3030;    
}
.orange {
    background-color: #FF922E;  
}
.green {
    background-color: #2FBE34;   
}

.erro,
.erro ion-icon {
    color: #FF3030;  
}

.quase,
.quase ion-icon {
    color: #FF922E;  
}
.zapei,
.zapei ion-icon {
    color: #2FBE34;   
}

.bottom, 
.icons {
    margin: 10px 0;
}

.icons ion-icon {
    font-size: 30px;
}